@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

h1 {
	color: white;
	font-size: calc(36px + (72 - 36) * ((100vw - 300px) / (1600 - 300)));
	text-transform: uppercase;
	letter-spacing: 1px
	font-weight: 800;
}

hr{
	align-self: center;
	flex:1;
	color: #fff;
	background-color: #fff;
	border: none;
	height: 1px;

	min-width: 100%;  
}

.header-container {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 10px 10px #232323;
	opacity: 0.7;
}

/*section-3*/
.features-wrapper {
	position: relative;
	background: #232323;
	text-align: center;
	padding: 30px 10px;
	width: 100%;
}

.features-wrapper div{
	flex: 1;
	max-height: 350px;
	min-height: 300px;
	width: 90%;
	margin: 10px;
	border: 2px solid black;

}

.features-wrapper div:nth-of-type(1) {
	border: none;
}

div #nintendo-img1 , div #nintendo-img6 {
	flex: 2;
}

.nintendo-text {
	flex: 1;
	width: 100%;
	color: white;
	font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.design-text {
	width: 100%;
	background: #EC5656;
	font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1600 - 300)));;
	color: white;
	padding: 30px;
	margin: 0 10px 10px 10px;

}

#switch-vid-content {
	position: relative;
	top: 2%;
	left: 0;
	width: 69%;
	height: 98%;
}

#nintendo-img1 {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/19/0a393ffc5fdf0a32ae4a1cd0356a818f-full.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	
}

#nintendo-img2 {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/19/97c0000920364c28e7b5200ed2d22774-full.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#nintendo-img3 {
	align-self: flex-end;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/19/a87a0ef79a4912bab73951dd900f6f36-full.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#nintendo-img4 {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/19/d8521d9a20c6a9305bc1276e02caedbb-full.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#nintendo-img5 {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/19/e4201fec6ac72af33a5d25113dee3677-full.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#nintendo-img6 {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/19/3ae5cd835824e31083ef18b616878023-full.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

@media(max-width: 860px){
.design-text {
	width: 90%;
}

#switch-vid-content {
	top: 5px;
	height: 300px;
}
}

@media(min-width: 860px){

.features-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: stretch;
	}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px;
	background: #232323;
}
}
/*section 3*/
/*BEGIN SECTION 5*/

.wrapper-container .features-wrapper{
	background: rgba(255, 255, 255, 0);

}

.wrapper-container .features-wrapper div{
	flex: 1;
	max-width: 600px;
	max-height: 500px;
	min-height: 400px;
	width: 90%;
	margin: 10px;
	border: 2px solid black;
	
}

.wrapper-container {
	max-width: 1000px;
	margin: 0 auto;

}
.images_footer_1 {
	color: white;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	background: #3946A0;
	padding: 15px;
	margin: 0 10px 0 10px;
	width: 100%;
}

.images_footer_2 {
	color: white;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	background: #DA4557;
	padding: 15px;
	margin: 0 10px 0 10px;
	width: 100%;
	z-index: 3;
}

#go_1 {
	flex: 1;
	background: url(https://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/home/A_2-mob.jpg);
	background-position: top left;
	background-size: 130% 110%;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

#go_1:hover{
	background position: center;
	background-size: 110% 100%;
}

#go_2 {
	background: url(http://www.videogameobsession.com/videogame/nesboxes/zzAll30NESBlackBoxesInOneShot-vgo-02.jpg);
	background-position: left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all 2s;
	
}

#go_2:hover {
	background position: center;
	background-size: 190% 190%;

}

#stay_1 {
	background: url(https://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/home/A_1.jpg);
	background-position: top left;
	background-size: 130% 110%;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

#stay_1:hover{
background position: center;
background-size: 110% 100%;

}

#stay_2 {
	
	background: url(https://i0.wp.com/www.geekthenews.com/wp-content/uploads/2013/01/8bitContra.jpg?resize=620%2C400);
	background-position: right;
	background-size: 120% 110%;
	background-repeat: no-repeat;
	transition: all 0.5s;	
}

#stay_2:hover {
background position: center;
background-size: 110% 100%;

}

#nintendo-final-bg {
	z-index: 1;
	padding-top: 13px;
	padding-bottom: 350px;
	background: url(http://getwallpapers.com/wallpaper/full/3/d/6/484115.jpg);
	background-position: bottom;
	background-size: cover;
	background-repeat: repeat;
	animation: slide-background 20000s linear infinite;
}

#zeldaAndLink_1{
	position: absolute;
	z-index: 2;
	top: -390px;
	left: 350px;
	max-width: 533px;
}

#nintendo-controller {
	z-index: 2;
	position: absolute;
	top: 300px;
	left: -520px;
	transform: rotate(30deg);
	border: none;
}


#nintendo-wire {
	position: absolute;
	z-index: 2;
	top: 1040px;
	left: -500px;
	transform: rotate(2deg);
	border: none;
	
}

@keyframes slide-background {
	0% {
		background-position: 0;
	}

	100% {
		background-position: -1000000px;
	}
}

@media(max-width: 1400px){
	#nintendo-controller{
		top: 400px;
		left: -420px;
		transform: rotate(50deg);
	}

	#nintendo-controller img {
		width: 330px;
		height: 378px;
	}
}

@media(max-width: 1150px){

	#nintendo-controller {
		display: none;
	}

	#nintendo-wire {
		display: none;
	}	
}

@media(max-width: 860px){

#nintendo-final-bg {
	padding-top: 0px;
}
.images_footer_1 {
	max-width: 600px;
	width: 90%;
}

.images_footer_2 {
	max-width: 600px;
	width: 90%;
}

#zeldaAndLink_1{
	position: absolute;
	z-index: 2;
	top: -385px;
	left: 5px;
	max-width: 380px;
	height: 430px;
}
}

/*END SECTION 5*/

#logo_img {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/14/a615878e2203c348018afa1170026579-full.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50vh;
	margin-top: 20px;

}

#play_font {
	font-size: 72px;
	color: #232323;
	text-shadow: 4px 4px #474747;
}

#babyBlue {
	color: #7CF7F3;
	font-size: 72px;
	text-shadow: 10px 10px #232323;
}

#curtain {
	width: 100%;
	height: 100%;
	background: rgb(218,69,87);
	z-index: 5;
	transition: all 1s;
}


#red {
	font-size: 124px;
	color: #EC5656;
	text-shadow: 10px 10px #232323;
}

#nintendo {
	font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
	color: #EC5656;
	text-shadow: 8px 8px #232323;
}


#playstation {
	font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
	text-shadow: 8px 8px #232323;
	color: #09A7E9;
}

#nintendo-play {
	position: relative;
	background: url(https://fortunedotcom.files.wordpress.com/2017/01/gettyimages-631611026.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-bottom: 20px solid #232323;
	width: 100%;
	height: 1000px;
}

.screen-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(https://supernintendo.surge.sh/img/overlay.png);
	background-attachment: fixed;
	background-size: 4px;
	z-index: 1;
}

.screen-overlay .container {
	margin-top: 100px;
}


#nintendo-family {
	width: 100%;
	height: 1500px;
	background: url(http://www.vgu.tv/wp-content/uploads/2012/02/Super-Mario-3D-Land-Wallpaper.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#header-scroll {
	width: 100%;
	height: 400px;
}

#header-bg{
	width: 100%;
	height: 1000px;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 20px solid #232323;
	transition: background-size 3s;
}

#nintendo-overlay .container{
	position: relative;
	top: 20%;
	width: 700px;
}

#png_container {
	position: relative;
}

#metroid-prime {
	position: absolute;
	top: -785px;
	left: 678px; /* 680px */
	z-index: 1;
}


.overlay_container {
	font-family: Teko;
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px
}

#png_container_1 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  min-width: 50%;
  max-width: 500px;
  min-height: 80%;
  max-height: 600px;
  padding: 0 1em;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}



#png_container_1 img {
	position: absolute;
	bottom: -55px;
	right: 0;
	top: 100px;
	width: 100%;
	height: 120%;
	max-width: 600px;
	max-height: 600px;
}

.wrapper{
	width: 100%;
	padding: 20px;
	background: #232323;
}

.wrapper #logo_img {
	flex: 1 0 40%;
	margin-left: 40px;
}


.wrapper .play-img{
	flex: 1 0 40%;
}

.wrapper #playstation_img1 {
	flex: 1 0 50%;
	border: 3px solid black;
	height: 50vh;
	margin-top: 20px;
	margin-left: 20px;
	
}

#playstation_img1 img {
	width: 100%;
	height: 100%;
}

#playstation_img2 {
	flex: 1 1 40%;
	height: 40vh;
	margin-left: 20px;
	margin-top:20px;
	border: 3px solid black;
}

#playstation_img2 img {
	width: 100%;
	height: 100%;
}

#playstation_img3 {
	flex: 0 1 20%;
	height: 40vh;
	margin-left: 20px;
	margin-top:20px;
	border: 3px solid black;
}

#playstation_img3 img {
	width: 100%;
	height: 100%;
}

#playstation_img4 {
	flex: 0 1 30%;
	height: 40vh;
	margin-left: 20px;
	margin-top:20px;
	border: 3px solid black;

}

#playstation_img4 img {
	width: 100%;
	height: 100%;
}

#playstation-video {
	position: relative;
	width: 100%;
	height: 1000px;
	background: white;
	overflow: hidden;
}

#playstation-video video{
min-width: 100%;
min-height: 100%;

}
#psp_container {
	position: absolute;
	height: 48%;
	width: 52%;
	top: 37%;
	left: 24%;

}
#psp_vid_content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}


#gaming-made-easy {
	position: relative;
	top: -200px;
	margin: 0 auto;
	height: 200px;
	max-width: 700px;
	text-align: center;
	text-transform: uppercase;
}

#gaming-made-easy p {
	font-size: calc(48px + (72 - 48) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 700;

}
.video-click-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.video_text1{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 48px;
	font-weight: 700;
	color: white;
	z-index: 500;
	letter-spacing: 2px;
}

.video_text2 {
	position: absolute;
	top: 25%;
	left: 45%;
	font-weight: 700;
	color: white;
	z-index: 500;
	letter-spacing: 2px;
	text-align: left;
	margin-left: -25px;

}

.video_slogan {
	line-height: 1.0;
	font-size: calc(36px + (72 - 36) * ((100vw - 300px) / (1600 - 300)));
}

#video_slogan2 {
	line-height: 1.0;
	font-size: calc(36px + (124 - 36) * ((100vw - 300px) / (1600 - 300)));
}

.container #ps4 {
	width: 200px;
	height: 50px;
}


#text-container{
	position: relative;
	left: 70%;
	width: 30%;
	height: 100%;
	font-size: 32px;
	color: white;
	text-align: center;
	padding: 50px 0;
	letter-spacing: 2px;
	text-shadow: 3px 3px #232323;
	font-weight: 800;
}

#psp-video {
	position: relative;
	height: 1000px;
	width: 100%;
}

#ps4_console_img {
	width: 800px;
	height: 800px;
	position: absolute;
	top: -680px;
	left: 100px;
	z-index: 2;
}

#psp_video_image {
	position: relative;
	bottom: -35px;
	height:1200px;
	width: 100%;
}

#console-clash {
	display: flex;
	position: relative;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/0f0aae2ba101330bd8a2ce550be78e87-full.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	width: 100%;
	align-items: stretch;
	flex-wrap: nowrap;
	z-index: 1;
	
}

#clash-overlay {
	position: absolute;
	background: black;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.9;
}

#bg-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#scrolling-bg {
	position: relative;
	top: 40%;
	width: 100%;
	height: 50%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/22800a8a310818b763be60c09a3b67bd-full.png);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	animation: slide-background 20000s linear infinite;
	z-index: -5;
}

#pick-your-side {
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	position: relative;
	flex: 1;
	margin: auto;
	z-index: 3;

}


#choice-playstation {
	display: flex;
	flex-direction: column;
	flex: 2.5;
	padding-top: 20px;
	z-index: 10;
	
}

#choice-nintendo {
	z-index: 10;
	display: flex;
	flex: 2.5;
	flex-direction: column;
	margin:;
}

#choice-playstation .end-logo {
	margin: auto;
	flex: 1;
	width: 50%;
}

#playstation_hero {
	display: flex;
	flex: 1;
	
}


#choice-nintendo .end-logo {
	margin: auto;
	flex: 1;
	width: 50%;
}

#nintendo_hero {
	display: flex;
	flex: 1;
}

div .n-hero {
	flex: 1;
	width: 100%;
	height: 100%;
	z-index: 5;
}


#link {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/2dfbc8ca859e821fcb264e7a667374e6-full.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 140% 100%;
}
#pikachu {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/4ea391382a3c6f83291ed0c3b7b16edb-full.png);
	background-repeat: no-repeat;
	background-position: bottom bottom;
	background-size: 135% 100%;
}
#mario {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/95cf667167357fb85c0454c1146f695a-full.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 130% 100%;
}
#bowser{
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/2b6367c6565eccda8d3660fb82ad7214-full.png);
	background-repeat: no-repeat;
	background-position: -10% 100px;
	background-size: 180% 110%;
}
#samus {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://supernintendo.surge.sh/img/games/samus.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div .p-hero {
	flex: 1;
	width: 100%;
	height: 100%;
	z-index: 5;
}

#squall {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/d57fe98f64a42fd1ebfc399c7011a236-full.png);
	background-repeat: no-repeat;
	background-position: 0 100px;
	background-size: 170% 100%;
}

#mugen {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/43bebb1e43f88ea8c67832eb64198dc6-full.png);
	background-repeat: no-repeat;
	background-position: 70% 100px;
	background-size: 100% 100%;
}

#titanfall {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/c16c207493624bd83f10cbb4594fc940-full.png);
	background-repeat: no-repeat;
	background-position: 70% 100px;
	background-size: 100% 100%;
}

#kratos {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/4ebe241807b3b713a8119197d3cc474e-full.png);
	background-repeat: no-repeat;
	background-position: 0 -180px;
	background-size: 100% 120%;
}

#crash-bandicoot {
	flex: 1;
	width: 100%;
	height: 100%;
	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/49f0d415f5dbcfd58e114798ff386caa-full.png);
/*	background: url(https://cdn1.imggmi.com/uploads/2018/5/17/3e47572c546157897bdaab2df0cc4af3-full.png);*/
	background-repeat: no-repeat;
	background-position: 0 350px;
	background-size: 100% 60%;
}

.hidden {
	display: none;
}

@media (max-width: 1350px){

#ps4_console_img {
	width: 400px;
	height: 400px;
	position: absolute;
	top: -350px;
	left: 100px;
	z-index: 2;
}

#text-container {
	font-size: 24px;
}
}

@media(max-width: 1000px){

#choice-playstation {
	display: none;
}	

#png_container_1 img {
	display: none;
}

#ps4_console_img {
	left: -0px;
	max-width: 350px ;
}

}
