@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

h1 {
	color: white;
	font-size: 72px;
	text-transform: uppercase;
	letter-spacing: 1px
	font-weight: 800;
}

hr{
	margin: 20px;
}


@media (min-width: 1200px){
.container {
	max-width: 1720px;
}


}

.image_stay {
	width: 600px;
	height: 400px; 
	transition: all 0.5s;
	margin: 10px 10px;
}


.image_go {
	width: 600px;
	height: 400px;
	margin: 10px 10px;
}

.bg-dark {
	background: #232323 !important;
}


.design-text {
	background: #EC5656;
	width: 100%;
	font-size: 36px;
	color: white;
	padding: 30px;
}
.header-container {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 10px 10px #232323;
	opacity: 0.7;
}

.images_footer_1 {
	color: white;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	background: #3946A0;
	padding: 15px;
	margin: 0 -10px 0 10px;
}

.images_footer_2 {
	color: white;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	background: #DA4557;
	padding: 15px;
	margin: 0 -10px 0 10px;
}

.nintendo-text {
	color: #353535;
	font-size: 48px;
}

.row {
	margin-left: 30px;
	margin-right: 30px;
}


#logo_img {
	background: url(https://cdn1.imggmi.com/uploads/2018/5/14/a615878e2203c348018afa1170026579-full.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50vh;
	margin-top: 20px;

}

#play_font {
/*	font-size: 124px;*/
	/*color: #7CF7F3;*/
	font-size: 72px;
	color: #232323;
	text-shadow: 4px 4px #474747;
}

#babyBlue {
	color: #7CF7F3;
	font-size: 72px;
	text-shadow: 10px 10px #232323;
}

#curtain {
	width: 100%;
	height: 100%;
	background: rgb(218,69,87);
	z-index: 5;
	transition: all 1s;
}


#red {
	font-size: 124px;
	color: #EC5656;
	text-shadow: 10px 10px #232323;

}
#go_1 {
	background: url(https://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/home/A_2-mob.jpg);
	background-position: top-left;
	background-size: 130%;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

#go_1:hover{
	background position: center;
	background-size: 110%;
	height: 400px;

}

#go_2 {
	background: url(http://www.videogameobsession.com/videogame/nesboxes/zzAll30NESBlackBoxesInOneShot-vgo-02.jpg);
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	transition: all 0.5s;
	
}

#go_2:hover {
	background position: center;
	background-size: 110%;
	height: 400px;
}

#stay_1 {
	background: url(https://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/home/A_1.jpg);
	background-position: top-left;
	background-size: 130%;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

#stay_1:hover{
background position: center;
background-size: 110%;
height: 400px;
}


#stay_2 {
	
	background: url(https://i0.wp.com/www.geekthenews.com/wp-content/uploads/2013/01/8bitContra.jpg?resize=620%2C400);
	background-position: right;
	background-size: 120%;
	background-repeat: no-repeat;
	transition: all 0.5s;

	
}

#stay_2:hover {
background position: center;
background-size: 110%;

}


#nintendo {
	font-size: 48px;
	color: #EC5656;
	text-shadow: 8px 8px #232323;
}



#playstation {
	font-size: 48px;
	text-shadow: 8px 8px #232323;
	color: #09A7E9;
}

#nintendo-play {
	position: relative;
	background: url(https://fortunedotcom.files.wordpress.com/2017/01/gettyimages-631611026.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-bottom: 20px solid #232323;
	width: 100%;
	height: 1000px;
}

.screen-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(https://supernintendo.surge.sh/img/overlay.png);
	background-attachment: fixed;
	background-size: 4px;
	z-index: 1;
}

.screen-overlay .container {
	margin-top: 100px;
}

#nintendo-final {
	position: relative;
	width: 100%;
	height: 1600px;
	background: url(http://getwallpapers.com/wallpaper/full/3/d/6/484115.jpg);
	background-position: bottom;
	background-size: cover;
	background-repeat: repeat;
	animation: slide-background 200s linear infinite;
	/*background: #D5EBFE;*/
}

@keyframes slide-background {
	0% {
		background-position: 0;
	}

	100% {
		background-position: -10000px;
	}
}

#nintendo-family {
	width: 100%;
	height: 1500px;
	background: url(https://www.thequiz.com/wordpress/wp-content/uploads/2017/07/Nintendo-characters.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

#header-scroll {
	width: 100%;
	height: 400px;

}

#header-bg{
	width: 100%;
	height: 1000px;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 20px solid #232323;
	transition: background-size 3s;
}



#features-nintendo {
	text-align: center;
	height: 900px;
	border-bottom: 20px solid #232323;
	border-top: 20px solid #232323;
}
#nintendo-overlay .container{
	position: relative;
	top: 20%;
	width: 700px;
}

#nintendo-controller {
	z-index: 2;
	position: absolute;
	top: 300px;
	left: -500px;
	transform: rotate(30deg);
}


#nintendo-controller img:hover{
	transform: rotate(40deg) translateX(10%);
	transition: all 0.5s;
}

#nintendo-wire {
	position: absolute;
	z-index: 2;
	top: 940px;
	left: -500px;
	transform: rotate(2deg);
	
}

#nin_final_container {
	position: relative;
	margin: 0 auto;
	max-width: 1300px;
	padding-top: 50px;
	height: 930px;
}


#png_container {
	position: relative;
}

#metroid-prime {
	position: absolute;
	top: -785px;
	left: 678px; /* 680px */
	z-index: 1;
}

#zeldaAndLink_1{
	position: absolute;
	z-index: 2;
	top: -520px;
	left: -50px;
}

.overlay_container {
	font-family: Teko;
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px

}

#features-nintendo img{
	margin: 40px auto;
}

#png_container_1 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  min-width: 50%;
  max-width: 500px;
  min-height: 80%;
  max-height: 600px;
  padding: 0 1em;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
 
}

#png_container_1 img {
	position: absolute;
	bottom: -55px;
	right: 0;
	width: 100%;
	height: 100%;
}
.wrapper {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100px;

}

.wrapper #logo_img {
	flex: 1 0 40%;
	margin-left: 40px;
}

#playstation-intro {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #232323;
	padding: 20px;
}


.wrapper .play-img{
	flex: 1 0 40%;
}

.wrapper #playstation_img1 {
	flex: 1 0 50%;
	border: 3px solid black;
	height: 50vh;
	margin-top: 20px;
	margin-left: 10px;
	
}

#playstation_img1 img {
	width: 100%;
	height: 100%;
}

#playstation_img2 {
	flex: 0 1 40%;
	height: 40vh;
	width: 30vw;
	margin-left: 40px;
	margin-top:20px;
	border: 3px solid black;
}

#playstation_img2 img {
	width: 100%;
	height: 100%;
}

#playstation_img3 {
	flex: 0 1 20%;
	height: 40vh;
	margin-left: 20px;
	margin-top:20px;
	border: 3px solid black;
}

#playstation_img3 img {
	width: 100%;
	height: 100%;
}

#playstation_img4 {
	flex: 0 1 30%;
	height: 40vh;
	margin-left: 20px;
	margin-top:20px;
	border: 3px solid black;

}

#playstation_img4 img {
	width: 100%;
	height: 100%;
}

#playstation-video {
	position: relative;
	width: 100%;
	height: 100vh;
	background: white;
	overflow: hidden;
}

#playstation-video video{
min-width: 100%;
min-height: 100%;

}
#psp_container {
	position: absolute;
	height: 48%;
	width: 52%;
	top: 37%;
	left: 24%;

}
#psp_vid_content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}


#gaming-made-easy {
	position: relative;
	top: -200px;
	margin: 0 auto;
	height: 200px;
	max-width: 700px;
	text-align: center;
	text-transform: uppercase;
}

#gaming-made-easy p {
	font-size: 72px;
	font-weight: 700;

}
#psp-view-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.video_text1{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 48px;
	font-weight: 700;
	color: white;
	z-index: 500;
	letter-spacing: 2px;
}

.video_text2 {
	position: absolute;
	top: 25%;
	left: 45%;
	font-size: 48px;
	font-weight: 700;
	color: white;
	z-index: 500;
	letter-spacing: 2px;
	text-align: left;
}

.video_slogan {
	line-height: 1.0;
	font-size: 72px;
}

#video_slogan2 {
	line-height: 1.0;
	font-size: 124px;
}

.container #ps4 {
	width: 200px;
	height: 50px;
}

.video_text2 .container {
	margin-right: 20%;
}

#text-container{
	position: relative;
	left: 70%;
	width: 30%;
	height: 100%;
	font-size: 32px;
	color: white;
	text-align: center;
	padding: 50px 0;
	letter-spacing: 2px;
	text-shadow: 3px 3px #232323;
	font-weight: 800;
}

#psp-video {
	position: relative;
	height: 1000px;
	width: 100%;
}

#ps4_console_img {
	width: 800px;
	height: 800px;
	position: absolute;
	top: -680px;
	left: 100px;
	z-index: 2;
}

#psp_video_image {
	position: relative;
	bottom: -35px;
	height:1200px;
	width: 100%;
}



@media (max-width: 1350px){

#ps4_console_img {
	width: 400px;
	height: 400px;
	position: absolute;
	top: -350px;
	left: 100px;
	z-index: 2;
}

.video_slogan {
	line-height: 1.0;
	font-size: 32px;
}

#video_slogan2 {
	line-height: 1.0;
	font-size: 70px;
}
#nintendo-controller{
	top: 450px;
	left: -150px;
	
}



#text-container {
	font-size: 24px;
}

#nintendo-controller{
	transform: rotate(40deg);
}

#nintendo-controller img {
	height: 350px;
	width: 350px;
}

#nintendo-wire {
	top: 1050px;
	left: -100px;
}

#nintendo-wire img {
	width: 400px;
}


}

@media(max-width: 1000px){
#features-nintendo {
	height: 2350px;
}

#nintendo-final {

	height: 2100px;
}

.img-fluid {
	max-width: none;
}


#png_container_1 img {
	display: none;
}

#nintendo-controller{
	top: 1300px;
	left: -270px;
	
}

#nintendo-controller{
	transform: rotate(40deg);
}

#nintendo-controller img {
	height: 400px;
	width: 400px;
}

#nintendo-wire {
	top: 1870px;
	left: -240px;
}

#nintendo-wire img {
	width: 400px;
}

#playstation_img1 {
	flex: 0 1 100%;
	margin-left: 0px;
}
#playstation_img2 {
	flex: 0 1 100%;
	margin-left: 0px;
}

#playstation_img3 {
	flex: 0 1 100%;
	margin-left: 0px;
}

#playstation_img4 {
	flex: 0 1 100%;
	margin-left: 0px;
}

#playstation-intro {
	height: 1500px;
}
}

@media(max-width: 991px){
	#nin_final_container {
	width: 690px;
}
}

