* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

h1 {
	color: white;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 1px
	font-weight: 800;
}


#header-scroll {
	background: url(https://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/home/hero/1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 940px;
	border: 1px solid red;

}
.header-container {
	height: 400px;
	width: 400px;
	border: 1px solid blue;
	text-align: center;
	margin:  300px auto;
}